<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue simple sample </title>
  </head>
  <body>
    <!-- <div id="app"></div> -->


    <!-- <div id="dragg"></div> -->
    <!-- <div id="main"></div> -->

    <!-- <div id="two">
      <div>
        <button class="btn btn-info" type="button" v-on:click="insertItem">リスト追加</button>
      </div>
      <draggable :options="{ group: 'tasks' }" element="ul" v-for="list in tasks">
        <li v-for="(item, index) in list">{{item.name}}-(No.{{item.no}})-{{ index }}<br>
          <textarea placeholder="テキスト入れる"></textarea>
          <p><span v-on:click="deleteItem(item, index)">削除</span></p>
          <p><span v-on:click="itemDelete(item)">削除</span></p>
          <span class="del" v-on:click="deleteItem(item, index, '')">削除</span>
        </li>
      </draggable>
    </div> -->



<div id="contents">

  <div class="contents-detail">
      <draggable :options="{group:'ITEMS'}" v-model="myList">
          <div class="item" v-for="item, index in myList" :key="item.no">
              <!-- <span>No.{{item.no}}</span> -->
              <label>
                  {{item.name}}
              </label><br>
              <textarea placeholder="テキスト入れる" v-model="item.input"></textarea>
              <br>{{item.input}}
              <br><img src="item.img">
              <p><button type="button" v-on:click="deleteItem(item, index, '')">削除</button></p>
          </div>
      </draggable>
  </div>

  <div id="parts-list">
    <div>
        <button type="button" v-on:click="insertItem2">リスト追加</button>
    </div>
      <draggable :options="{group:'ITEMS'}" v-model="myList2">
          <div class="item" v-for="item, index in myList2" :key="item.no">
              <span>No.{{item.no}}</span>
              <label>
                  {{item.name}}
              </label><br>
              <textarea placeholder="テキスト入れる" v-model="item.input"></textarea>
              <br>{{item.input}}
              <p><button type="button" v-on:click="deleteItem(item, index, '2')">削除</button></p>
          </div>
      </draggable>
  </div>
  <div id="parts-list">
    <div>
        <button type="button" v-on:click="insertItem3">リスト追加</button>
    </div>
      <draggable :options="{group:'ITEMS'}" v-model="myList3">
          <div class="item" v-for="item, index in myList3" :key="item.no">
              <span>No.{{item.no}}</span>
              <label>
                  {{item.name}}
              </label><br>
              <textarea placeholder="テキスト入れる" v-model="item.input"></textarea>
              <br>{{item.input}}
              <p><button type="button" v-on:click="deleteItem(item, index, '3')">削除</button></p>
          </div>
      </draggable>
  </div>

</div>



    <!-- <div id="main">
        <div class="p20">
          <button class="btn btn-info" type="button" v-on:click="insertItem">リスト追加</button>
       </div>
        <ul class="list-group drag p20">
          <draggable class="dragArea"
                     @end="onEnd"
                     :move="checkMove">
          <li class="list-group-item"
              v-for="item, index in items"
              :key="item.no">
              <label>
              {{item.name}}-(No.{{item.no}})
            </label>
            <p><span v-on:click="deleteItem(item, index)">削除</span></p>
          </li>
          </draggable>
        </ul>
    </div> -->



    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <script src="js/script.js"></script>
    <!-- <script src="js/entry.js"></script> -->

<style>
#two,
#contents {
  display: flex;
}

#two li,
.item {
  list-style: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

#parts-list {
}
</style>

</body>
</html>
