/* ./css/sample.css */
:fullscreen a {
    display: flex
}
#two,
#list {
  display: flex;
}

#two li,
#list li {
  list-style: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}
